openapi: 3.0.3
info:
  title: RouteCore B2B Flight API
  version: 1.0.0
  description: |
    Comprehensive B2B API for flight search, validation, and booking.
servers:
  - url: https://api.travomatrix.com/api/v1
    description: Production Environment
  - url: http://uat.travomatrix.com/api/v1
    description: UAT Environment
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
  schemas:
    PricingBreakdown:
      type: object
      properties:
        base_fare:
          type: integer
          description: Base fare in paise.
        taxes:
          type: integer
          description: Total taxes and fees in paise.
        commission:
          type: integer
          description: Agent commission earned in paise.
        ota_markup:
          type: integer
          description: Platform markup in paise.
        net_fare:
          type: integer
          description: Final amount to be debited from agent wallet (Base + Taxes + Markup - Commission).
        final_price:
          type: integer
          description: Total price to display to the end customer.

    SearchRequest:
      type: object
      required:
        - origin
        - dest
        - dod
      properties:
        origin:
          type: string
          example: "DEL"
        dest:
          type: string
          example: "DXB"
        dod:
          type: string
          description: Departure date in YYYYMMDD format.
          example: "20260501"
        doa:
          type: string
          description: Return date in YYYYMMDD format.
        pax_adult:
          type: integer
          default: 1
        pax_child:
          type: integer
          default: 0
        pax_infant:
          type: integer
          default: 0
        cabin:
          type: string
          enum: [ECONOMY, PREMIUM_ECONOMY, BUSINESS, FIRST]
        mode:
          type: string
          enum: [consumer, b2b]
          default: b2b
          description: Set to 'b2b' to enable commission calculation.

    BookingRequest:
      type: object
      required:
        - fare_token
        - passengers
        - contact_info
        - agent_id
      properties:
        fare_token:
          type: string
          description: Token obtained from Fare Validation.
        agent_id:
          type: string
          description: Unique ID of the agency.
        passengers:
          type: array
          items:
            $ref: '#/components/schemas/Passenger'
        contact_info:
          type: object
          properties:
            email:
              type: string
            phone:
              type: string

    Passenger:
      type: object
      properties:
        first_name:
          type: string
        last_name:
          type: string
        title:
          type: string
          enum: [MR, MRS, MS, MSTR, MISS]
        gender:
          type: string
          enum: [M, F]
        dob:
          type: string
          format: date
          description: YYYY-MM-DD

paths:
  /search:
    post:
      summary: B2B Flight Search
      tags: [Operations]
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: List of flight offers with B2B pricing.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      search_id:
                        type: string
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            offer_id:
                              type: string
                            airline:
                              type: string
                            pricing_breakdown:
                              $ref: '#/components/schemas/PricingBreakdown'

  /fare/validate:
    post:
      summary: Fare Validation & Price Lock
      tags: [Operations]
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fare_token:
                  type: string
      responses:
        '200':
          description: Validated fare with 15-minute lock.

  /bookings:
    post:
      summary: Create B2B Booking
      description: This operation will atomically debit the net_fare from the agent's wallet.
      tags: [Operations]
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingRequest'
      responses:
        '201':
          description: Booking created successfully.
        '402':
          description: Insufficient funds in agent wallet.

  /bookings/{id}/cancel:
    post:
      summary: Cancel & Auto-Refund
      tags: [Post-Booking]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cancellation processed and refund credited to wallet.
